
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0; padding: 0;
}

.hero{
    background-image: linear-gradient(180deg, rgb(16, 16, 16)-19.5%, rgba(16, 16, 16, 0)100%), url("assets/hero-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 919px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.textcontainer{
    width: 1023px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.textcontainer h2{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}
.textcontainer h1{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}
.textcontainer p{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

.btn{
    border-radius: 8px;
    background: rgb(82, 195, 3);
    padding: 21px 32px 21px 32px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.cardfullcantainer{
    width: 1320px;
    margin: 0 auto;
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
  
    
}
.cardfullcantainer>p{
     color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
   

}
.cardfullcantainer> h1{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
  
    
    text-align: center;

}
.btncenter{
    text-align: center;
}
.cardcontainer{
    display: flex;
    justify-content: space-between;
}
.image-container img{
   width: 424px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.card button{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    border: none;
}
.card h1{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    
}
.card p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    opacity: 0.7;
    text-align: center;
}
.aboutus{
    display: flex;

}
.left-image{
    flex-basis: 50%;
}
.left-image img{
    width: 100%;
}
.right-text-othter-container{
   flex-basis: 50%;
   background-image: url("assets/social-bg.png");
   background-position: center center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 80px;
   justify-content: center;
   align-items: center;
}
.right-text-othter-container h1{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}
.right-text-othter-container p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;

}
.right-text-othter-container h2{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 50px;

}
.social-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 50px;
   
}
.social-icon-container i{
    color: red;
}
